<form action="" method="POST">
  <div class="form-row w-100 mb-3">
    <div class="col text-center">
      <button type="submit" class="btn btn-dark btn-block" formaction="Feed">CHUG BEER</button>
    </div>
    <div class="col text-center">
      <button type="submit" class="btn btn-dark btn-block" formaction="Play">PLAY</button>
    </div>
    <div class="col text-center">
      <button type="submit" class="btn btn-dark btn-block" formaction="Work">WORK</button>
    </div>
    <div class="col text-center">
      <button type="submit" class="btn btn-dark btn-block" formaction="Charge">CHARGE</button>
    </div>
  </div>
</form>