<form action="" method="POST">
  <div class="form-row w-100 mb-3">
    <div class="col text-center">
      <button type="submit" class="btn btn-dark btn-block" formaction="Reset">RESET ROBBIE</button>
    </div>
  </div>
</form>