<div class="row">
  <div class="col text-center p-2 bg-dark text-light border">Fullness: @ViewBag.CurrentFullness</div>
  <div class="col text-center p-2 bg-dark text-light border">Happiness: @ViewBag.CurrentHappiness</div>
  <div class="col text-center p-2 bg-dark text-light border">Beer: @ViewBag.CurrentBeer</div>
  <div class="col text-center p-2 bg-dark text-light border">Energy: @ViewBag.CurrentEnergy</div>
</div>