body {
    font-family: 'Menlo', 'Lucida Console', 'Courier New', Courier, monospace;
    background-image: url("../images/binary-pattern.jpg");
    background-repeat: repeat;
}

img {
    width:360px;
}